# Env variables
.env

# Compilation artifacts
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.pdm-build
**/.pdm-python

# Virtual environments
**/venv
**/.venv

# Distribution artifacts
**/*.egg-info
dist

# Old configs
**/*pyproject.toml

# Assets
**/*.mp4

# Testing and coverage
.coverage
htmlcov
